@media (min-width: 768px) {
    #menu-button {
        display: none;
    }
    #map-container {
        display: inline
    }
}

@media (max-width: 767px) {
    #list-area {
        display: none;
    }
}

.hideElement {
    display: none;
}

.showElement {
    display: inline !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu-button {
    width: 30px;
    cursor: pointer;
}

#main-container, #map-container {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

#list-area {
    height: 91%;
}

#list-filter {
    margin: 10px 0;
}

#list-places {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.info-description {
    margin-top: 5px;
    max-width: 300px;
    text-align: justify;
    font-size: 0.9rem;
}

.info-attribution {
    font-size: 0.7rem;
    text-align: right;
    font-weight: 500;
}

.pointerCursor {
    cursor: pointer;
    background-color: slategray;
    color: white;
}

#item-list {
    width: 100%;
}

.info-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
