html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-container, #map-container {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
}

#list-view {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
